h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-base);
  font-weight: 400;
}

h3,
h4,
h5 {
  letter-spacing: 0.06em;
}

h2 {
  font-size: 44px;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 35px;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
}

h5 {
  font-size: 15px;
  line-height: 1.1;
}

.paragraph-l,
.paragraph-s {
  font-family: var(--font-family-accent);
}

.paragraph-l {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.paragraph-s {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  h2,
  .h2,
  h3,
  .h3 {
    font-size: 25px;
  }
}
